<nav class="navbar navbar-dark bg-dark navbar-expend-sm">
    <div class="container">
        <a class="navbar-brand" routerLink="/contacts/admin"><i class="fa-solid fa-address-book">&nbsp;</i>Contacts Directory</a> 
        <!-- <a (click)="refresh()" class="navbar-brand" routerLink="/contacts/admin"><i class="fa-solid fa-address-book">&nbsp;</i>Contacts Directory</a>  -->
        <!-- <button class="navbar-brand" (click)="refres"><i class="fa-solid fa-address-book">Contacts List Application</i></button>        -->
    </div>
    <a class="navbar-brand" routerLink="/contacts/add"><i class="fa-solid fa-plus-circle">&nbsp;</i>Add Contact</a>
</nav>